.product-card {
  @include flex($align: flex-start);
  flex-direction: column;
  padding: 1rem;

  &:hover {
    box-shadow: $color-text 0px 2px 8px 0px;
  }

  @media (max-width: 500px) {
    border: 1px solid $color-border;
    border-radius: 5px;
  }
}

.product {
  @include flex($align: flex-start);
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1.5rem;

  .image__main {
    align-self: center;
    width: 100%;
  }

  @media (max-width: 660px) {
    align-items: center;
  }
}

.product__description {
  @media (max-width: 768px) {
    display: none;
  }
}

.product__title,
.product__price {
  color: $color-title;
  font-weight: 700;
  font-size: 1.4rem;

  @media (max-width: 800px) {
    font-size: 1.6rem;
  }
}

.product__price {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0.2em;
    height: 0.3em;
    width: 100%;
    background-color: $color-border;
    z-index: -1;
  }
}

.rating__text {
  font-size: 1.3rem;
}

.rating__body {
  width: min-content;
  position: relative;
}

.rating__body::before {
  content: '★★★★★';
  display: block;
}

.rating__back {
  display: flex;
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__back::before {
  content: '★★★★★';
  color: $color-brand;
}
