.products {
  @include grid($gap: .5rem);
  grid-column: 2/auto;
  grid-row: 2/auto;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.store {
  @include flex;
  flex-direction: column;
  padding: 1rem;

  &__toolbar {
    @include flex($justify: space-around);
    font-size: 1.4rem;
    grid-column: 2/auto;
    grid-row: 1;
  }

  &__title {
    color: $color-title;
    font-size: 4rem;
    font-weight: 700;
    margin: 1rem 0 3rem;
  }
}

.double{
  grid-template-columns: repeat(2, 1fr);
}

.search {
  width: 25%;
}

.search__input {
  border: 1px solid $color-brand;
  border-radius: 10px;
  text-align: center;
  width: 100%;

  &::placeholder {
    font-size: 1.3rem;
  }
}

.view {
  display: flex;
  gap: .6rem;

  &__grid,
  &__double {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  &__double {
    background: url('../assets/svg/menu_double.svg') center center/contain no-repeat;
  }

  &__grid {
    background: url('../assets/svg/menu_grid.svg') center center/contain no-repeat;
  }

  .selected {
    box-shadow: $color-brand 1px 2px 4px 0px;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.sorter {
  border: none;
  width: 25%;
  cursor: pointer;

  & option {
    font-size: 1.3rem;
  }
}

@media (max-width: 800px) {

  .search,
  .sorter {
    width: 30%;
  }

}
