.shop-cart {
  @include flex($align: flex-start);
  width: 100%;

  &__products {
    @include flex($align: stretch);
    flex-direction: column;
    width: 70%;
    padding: 10px;
    gap: .5rem;

    .product {
      padding: 1rem;
      border-radius: 16px;
      border: 1px solid $color-brand;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__title,
      &__price {
        font-size: 1.6rem;
      }

      &__img {
        width: 25%;
      }

      .rating__text {
        display: none;
      }
    }

    .shop-count {
      display: flex;
      width: 20%;
      align-items: center;
      flex-direction: column;

      &__count {
        width: 30px;
        text-align: center;
      }

      &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
      }

      &__increase,
      &__decrease {
        width: 30px;
        height: 30px;
        display: inline-block;

        background: linear-gradient($color-brand, $color-brand) top left,
          linear-gradient($color-brand, $color-brand) top right, linear-gradient($color-brand, $color-brand) bottom left,
          linear-gradient($color-brand, $color-brand) bottom right;
        background-size: calc(58% - 1px) calc(50% - 1px);
        background-repeat: no-repeat;
        border: 11px solid $color-brand;
        box-sizing: border-box;
        border-radius: 50%;
      }

      &__decrease {
        border: 12px solid $color-brand;
      }
    }
  }

  .old-price {
    text-decoration: line-through;
  }
}

.empty-page {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  color: $color-brand;
}

.invisible {
  display: none;
}

.inactive{
  opacity: 0.5;
  pointer-events: none;
}

.pages {
  @include flex;
  
  &__switcher {
    @include flex;

    &__text {
      min-width: 30px;
      text-align: center;
    }

    .arrow-left,
    .arrow-right {
      width: 30px;
      height: 30px;
    }

    .arrow-right {
      background: url('../assets/svg/arrow-right.svg') center center/contain no-repeat;
    }

    .arrow-left {
      background: url('../assets/svg/arrow-left.svg') center center/contain no-repeat;
    }
  }
  & .search__input {
    margin-left: .5rem;
  }
}

.shop-cart__summary {
  @include flex($align: stretch, $justify: flex-start);
  flex-direction: column;
  padding: 1rem;
  gap: .8rem;
}

.discount {
  font-size: 1.3rem;
}