html {
  font-size: 10px;
  scroll-behavior: smooth;
}

* {
  @include font($size: 1.6rem, $height: 140%);
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $color-text;
  text-transform: capitalize;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.3s linear;
}

body {
  @include flex($align: stretch);
  flex-direction: column;
  min-height: 100vh;
}

.root {
  @include flex($align: flex-start);
  min-height: 80vh;
  padding: 1rem;
}

li {
  list-style-type: none;
}

input {
  appearance: none;
}
