html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @include flex($align: stretch);
  flex-direction: column;
  min-height: 100vh;
  @include font($size: 1.6rem, $height: 140%);
  color: $color-text;
  margin: 0;
}

li {
  list-style-type: none;
}

input {
  appearance: none;
}
