$color-brand: #fbd205;
$color-title: #000000;
$color-text: #888888;
$color-header: #d1d0d0;
$color-background: #ffffff;
$color-border: #faeca4;
$color-filter: #fcff61;
$color-overlay: rgba(0,0,0,.5);
$color-error: #b80606;
$color-card-border: hsl(200, 80%, 10%);
$color-card: hsl(200, 80%, 30%);