$color-brand: #ffd500;
$color-title: #000000;
$color-text: #a9a9a9;
$color-background: #ffffff;
$color-border: #faeca4;
$color-filter: #fcff61;
$color-overlay: rgba(0,0,0,.5);
$color-error: #b80606;
$color-card-border: hsl(200, 80%, 10%);
$color-card: hsl(200, 80%, 30%);