.wrapper {
  max-width: 1840px;
  margin: auto;
}

.wrapper__header {
  @include flex;
}

.wrapper__footer {
  @include flex($justify: center);
  gap: 1em;
}

.wrapper__sum {
  @include flex;
  gap: 1em;
}