.wrapper {
  max-width: 1840px;
  margin: auto;
}

.wrapper__header {
  @include flex;
}

.wrapper__footer {
  @include flex($justify: center);
  gap: 1em;
}

.wrapper__store {
  @include grid($column: repeat(auto-fit, minmax(20%, auto)), $row: repeat(auto-fit, minmax(30px, auto)), $gap: 2rem);
}

.wrapper__sum {
  @include flex;
  gap: 1em;
}